{% extends 'main/layoute.html' %}

{% block title %}
    <title>О компании</title>
{% endblock %}

{% block content%}


<!-- Добавление стилей для видео -->
<style>
    .embed-responsive {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    .embed-responsive::before {
        display: block;
        content: "";
    }

    .embed-responsive-1680by1050::before {
        padding-top: 62.5%; /* 1050 / 1680 * 100% */
    }

    .embed-responsive-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>

<h1>О компании</h1>
<br>

<div class="embed-responsive embed-responsive-1680by1050">
    <iframe class="embed-responsive-item" src="https://rutube.ru/play/embed/c8935a1f62b1cb5ff9d122d51a92b621" allow="autoplay" allowfullscreen></iframe>
</div>
<br>
<br>

<h4>Более 18 лет АО НХК «Арикон» работает на рынке нефтехимической продукции.
Создание уникальных рецептур из отечественного сырья – наша приоритетная задача.</h4>
<br>
<p>
        Развитие производственной базы дает возможность расширять ассортиментную линейку растворителей и технических жидкостей, для разных отраслей промышленности (лакокрасочной, строительной, мебельной, автопрома, военно-промышленного комплекса и т.д.).
    </p>
    <p>
        Увеличение объема продаж влечет за собой расширение емкостного парка для запасов промышленного сырья, автоматизации производственных процессов, помещений складского хранения, развития логистического комплекса услуг.
    </p>
    <p>
        Мы сотрудничаем с ведущими экспертными центрами стандартизации Российской Федерации и сопредельных государств. Производство сертифицировано и соответствует требованиям ISO 9001-2015. Ежегодно проводится аттестация производственного комплекса рядом крупных компаний –партнеров (Леруа-Мерлен, и т.д.).
    </p>
    <p>
        Вся продукция своевременно сертифицируется и проходит трехэтапный контроль качества в аккредитованной лаборатории.
Контрактные поставки сырья крупнейших заводов по переработке полезных ископаемых  позволяют сделать стабильными  и прогнозируемыми процессы производства готовой продукции АО НХК «Арикон».
    </p>
{% endblock %}