<footer class="bg-dark text-center text-white py-3">


    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <h5>Продукция</h5>
                <ul class="list-unstyled">
                    <li>Растворители и разбавители</li>
                    <li>Полимерное сырье</li>
                    <li>АвтоХимия</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Компания</h5>
                <ul class="list-unstyled">
                    <li>О компании</li>
                    <li>Документы</li>
                    <li>Реквизиты</li>
                    <li>Контакты</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>8 800 111 11 11</p>
                <p>Заказать звонок</p>
                <p>111111, Москва г, Красивейшая наб, дом № 7, строение 3</p>
            </div>
        </div>
    </div>
     <p>© 2024 Арикон. Все права защищены.</p>
</footer>