<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'company' %}">О компании</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'rast' %}">Растворители и разбавители</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'poly' %}">АвтоХимия</a>
    </li>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'news_home' %}">Новости</a>
    </li>
</ul>