{% extends 'main/layoute.html' %}

{% block title %}
    <title>АвтоХимия</title>
{% endblock %}

{% block content%}
    <h1>АвтоХимия</h1>
<br>

<div class="container mt-4">
  
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://nhk-aricon.ru/upload/resize_cache/iblock/1ea/300_300_0/1eab4c3506b339d1a9b537d6ab9e1ba5.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Антизапотеватель</h5>
                    <p class="card-text">Эффективно защищает стекло от образования конденсата. Не изменяет значений светового потока. Не оставляет разводов. Стекло остается прозрачным даже при условии высокой влажности или значительной разнице температур на улице и в салоне автомобиля.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://nhk-aricon.ru/upload/resize_cache/iblock/b9f/300_300_0/b9f7a2c3c9e79b67aa17f1b6a2d8bebb.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Обезжириватель универсальный</h5>
                    <p class="card-text">При высыхании не оставляет разводов. Удобно при обработке изделий сложной геометрической формы. Не вызывает гниение, коррозию, помутнение. Обеспечивает идеальную адгезию.</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://nhk-aricon.ru/upload/resize_cache/iblock/51e/300_300_0/51e7e5b9656a5b8c45864d6b39e85bcb.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Жидкость для чернения шин</h5>
                    <p class="card-text">Защищает от грязи и пыли за счет создания тонкой гидрофобной и грязеотталкивающей пленки с антистатическими свойствами. Предупреждает преждевременный износ и старение покрытия. Сохраняет яркость. Цвет не выгорает на солнце и долго остается</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}