{% extends 'main/layoute.html' %}

{% block title %}
    <title>Растворители и разбавители</title>
{% endblock %}

{% block content%}
    <h1>Растворители и разбавители</h1>
<br>

<div class="container mt-4">

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://nhk-aricon.ru/upload/resize_cache/iblock/58c/396_396_0/58c49b2c3b0bd01de3f8db63b3482640.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Уайт-спирит без запаха</h5>
                    <p class="card-text">Состав: углеводороды алифатические предельные С2-С10
Внешний вид: Прозрачная маслянистая жидкость со слабым запахом, без механических примесей.
Гарантийный срок хранения: 3 года</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://nhk-aricon.ru/upload/resize_cache/iblock/0db/396_396_0/0db663c1a6d7c5275c8dfdd740306e4b.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Антисиликон</h5>
                    <p class="card-text">Состав:нафта (нефтяной) гидрированный легкий Внешний вид:бесцветная прозрачная жидкость, без механических примесей. Гарантийный срок хранения: 5 лет. Фасуется в объем тары: 0,5л; 1л.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://nhk-aricon.ru/upload/resize_cache/iblock/6d5/396_396_0/6d52ec4382bad1515577d5aa5ad571f4.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Разбавитель акриловый универсальный</h5>
                    <p class="card-text">Состав: смесь органических растворителей.
Внешний вид: бесцветная прозрачная жидкость, без механических примесей.
Гарантийный срок хранения: 3 года</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}